.card {
  max-width: 200px;
  min-width: 200px;
  max-height: 23rem;
  min-height: 23rem;
  margin: 20px;
  background-color: #49555e;
  z-index: 2;
}

.content-card {
  display: none;
  text-align: left;
}

.card-title {
  font-size: 14px;
  min-width: 150px;
  min-height: 2rem;
  max-height: 2rem;
  color: aliceblue;
}

.card-title p {
  margin: 0 auto;
  text-align: center;
}

img {
  min-width: 100%;
  max-width: 100%;
  max-height: 20rem;
  min-height: 20rem;
  margin: 0 auto;
}

.card:hover {
  background-color: #f6f2d2;
  .content-card {
    display: inline;
    color: black;
  }
  .card-title {
    display: none;
  }
  img {
    display: none;
  }
}
