<div *ngIf="animes">
  <mat-card class="card" *ngIf=" animes.airing_start == day 
  && !animes.r18 && !animes.kids || day == -1">
  
    <div>
      <mat-card-content class="content-card">
        <p><b>Anime Name:</b> {{ animes?.title }}</p>
        <p><b>Score:</b> {{ animes?.score }}</p>
        <p><b>Estúdio:</b> {{ animes?.producers?.name }}</p>
        <p><b>Gênero:</b><span *ngFor="let gn of animes?.genres"> {{ gn.name }}, </span></p>
        <p class="sinop"><b>Sinopse:</b> {{ animes?.synopsis }}</p>
      </mat-card-content>

      <img mat-card-image src="{{ animes?.image_url }}" alt="anime">
      <p id="name">{{ animes?.title }}</p>
    </div>
  </mat-card>
</div>
