h3 {
  padding-top: 350px;
  line-height: 50px;
  text-align: center;
  font-size: 50px;
}

mat-label {
  color: var(--text-p);
}

mat-form-field:placeholder {
  color: var(--text-p);
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.gif {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("https://media.giphy.com/media/Hx5c9xKA9kD4STVd8i/giphy-downsized-large.gif")
    no-repeat center center;
  background-size: cover;
}
