<mat-toolbar class="toolbar">

    <button mat-icon-button class="sideBtn" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    <h1 class="title" ><img routerLink="/"  src="/assets/log.png"></h1>

    <span class="spacer"></span>

    <button mat-icon-button routerLink="/Config">
        <mat-icon>settings</mat-icon>
    </button>

</mat-toolbar>

<mat-drawer-container class="container">
    
    <mat-drawer #drawer mode="over" class="sidenav">
        <ul class="nav">
            <li (click)="drawer.close()">Copyright</li>
        </ul>
     
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <h1>
                <p> Web Developer: <a href="https://github.com/SidneyRoberto9" target="_blank">SidneyRoberto9</a></p> 
                <p> Design: <span>Ninh0</span></p>
                <p>Copyright 2022 All rights reserved</p> 
            </h1>

        </div>
        
    </mat-drawer-content>
</mat-drawer-container>