body {
  background-color: var(--display-bg);
}

.toolbar {
  width: 100%;
  height: 6.8%;
}

.title img {
  margin-top: 7px;
  margin-left: 15px;
  width: 250px;
  max-width: 250px;
  height: 3.5rem;
  cursor: pointer;
  object-fit: cover;
}
