.sidenav {
  background-color: var(--background2);
  position: fixed;
  max-width: 284px;
  width: 100%;
  height: 100%;

  .title {
    margin-top: 20px;
    margin-left: 40px;
    width: 250px;
    max-width: 250px;
    height: 90px;
    cursor: pointer;
    object-fit: cover;
    font-family: "Roboto", sans-serif;
    font-weight: bold;

    .h1 {
      color: aliceblue;
      font-size: 40px;
    }

    .h2 {
      line-height: 40px;
      color: var(--red);
      font-size: 48px;
    }
  }

  .daysOfWeek {
    list-style: none;

    li {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        width: 100%;
        border: 0;
        padding: 1.1875rem 2rem;
        border-radius: 0.25rem;
        font-size: 1.125rem;

        cursor: pointer;
        margin-top: 16px;
        color: aliceblue;
        background-color: var(--background-button);
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: #000;

        &:hover {
          background-color: var(--background-button2);
          color: var(--red);
        }

        & + button {
          margin-top: 16px;
        }
      }
      button.ativo {
        background: var(--background-button3);
        color: var(--red);
      }
    }
  }
}
