<div class="sidenav">
  <h1 class="title" (click)="reload()">
    <span class="h1">Animes</span>
    <br />
    <span class="h2">Schedule</span>
  </h1>

  <ul class="daysOfWeek">
    <li *ngFor="let btn of buttons; let i = index">
      <button
        [ngClass]="{ ativo: selectedBtn == btn }"
        (click)="selectedDay(i - 1); selectBtn(btn)"
      >
        {{ btn }}
      </button>
    </li>
    <!-- <li>
      <a href="\search"><img src="/assets/img/busca.png" /></a>
    </li>
    <li (click)="selectedDay(-1)">
      <button type="button" class="card">Todos</button>
    </li>
    <li (click)="selectedDay(0)">
      <img src="/assets/img/dom.png" />
    </li>
    <li (click)="selectedDay(1)">
      <img src="/assets/img/seg.png" />
    </li>
    <li (click)="selectedDay(2)">
      <img src="/assets/img/ter.png" />
    </li>
    <li (click)="selectedDay(3)">
      <img src="/assets/img/qua.png" />
    </li>
    <li (click)="selectedDay(4)">
      <img src="/assets/img/qui.png" />
    </li>
    <li (click)="selectedDay(5)">
      <img src="/assets/img/sex.png" />
    </li>
    <li (click)="selectedDay(6)">
      <img src="/assets/img/sab.png" />
    </li> -->
  </ul>
</div>
