@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

* {
  background-color: var(--toolbar-bg);
}

.display {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: row;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--toolbar-bg);
  height: max-content;

  .init {
    top: 0px;
    left: 0px;
    margin: 40px;
    width: 250px;
    height: 420px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: solid 10px var(--display-bg);
    }
  }

  .title {
    font-family: "Roboto", sans-serif;
    margin: 40px;
    width: 70%;
    height: auto;
    h1 {
      padding-top: 10px;
      padding-bottom: 20px;
      font-style: italic;
      font-size: 50px;
      line-height: 55px;
      text-decoration: underline;
      text-align: justify;
      color: var(--text-p);
    }

    h3 {
      color: var(--text-p);
    }

    p {
      font-size: 16px;
      color: var(--text-p);
      overflow: hidden;
    }
  }
}

@media (max-width: 1000px) {
  .display {
    flex-flow: column;
    .title {
      height: max-content;
      p {
        font-size: 11px;
      }
    }
  }
}
