.container {
  width: 100%;
  height: 93%;
  background-color: var(--display-bg);
}
p {
  color: var(--text-p);
}

a {
  text-decoration: none;
  color: var(--text-p);

  &:hover {
    color: gray;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
}

.toolbar {
  width: 100%;
  height: 7%;
}

.sideconfig {
  width: 250px;
  max-width: 250px;
}

.config {
  list-style: none;
  color: var(--text-p);
}

.title img {
  margin-top: 7px;
  margin-left: 15px;
  width: 250px;
  max-width: 250px;
  min-height: 3.5rem;
  max-height: 3.5em;
  cursor: pointer;
}

.daysOfWeek {
  list-style: none;
  padding-top: 0px;
  padding-left: 0px;
}

.daysOfWeek img {
  width: 220px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.daysOfWeek img:hover {
  filter: grayscale(100%);
}
