<mat-toolbar class="toolbar">

    <button mat-icon-button class="sideBtn" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title" ><img (click)="selectedDay(8)" src="/assets/log.png"></h1>

    <span class="spacer"></span>

    <button mat-icon-button routerLink="/Config">
        <mat-icon>settings</mat-icon>
    </button>

</mat-toolbar>

<mat-drawer-container class="container">
    
    <mat-drawer #drawer mode="over" class="sidenav" opened>
     
       <ul class="daysOfWeek">
            <li (click)="selectedDay(-1); drawer.close()"><img src="/assets/img/all.png"></li>
            <li (click)="selectedDay(0); drawer.close()"><img src="/assets/img/dom.png"></li>
            <li (click)="selectedDay(1); drawer.close()"><img src="/assets/img/seg.png"></li>
            <li (click)="selectedDay(2); drawer.close()"><img src="/assets/img/ter.png"></li>
            <li (click)="selectedDay(3); drawer.close()"><img src="/assets/img/qua.png"></li>
            <li (click)="selectedDay(4); drawer.close()"><img src="/assets/img/qui.png"></li>
            <li (click)="selectedDay(5); drawer.close()"><img src="/assets/img/sex.png"></li>
            <li (click)="selectedDay(6); drawer.close()"><img src="/assets/img/sab.png"></li>
       </ul>
    </mat-drawer>
    <mat-drawer-content>
 
        <app-display-animes [day]="day"  [animes$]="animes$"></app-display-animes> 
    </mat-drawer-content>
</mat-drawer-container>

