.container {
  width: 100%;
  height: 93%;
  background-color: #2d3942;
}

.toolbar {
  width: 100%;
  height: 7%;
}

.title img {
  margin-top: 7px;
  min-width: 140px;
  max-width: 140px;
  min-height: 3.5rem;
  max-height: 3.5em;
  cursor: pointer;
}

.daysOfWeek {
  list-style: none;
  padding-top: 0px;
  padding-left: 0px;
}

.daysOfWeek img {
  width: 220px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.daysOfWeek img:hover {
  filter: grayscale(100%);
}
