<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer mode="side" class="sidenav" opened>
       <h1 class="title" ><img (click)="selectedDay('nada')" src="/assets/log.png"></h1>
       <ul class="daysOfWeek">
           <li (click)="selectedDay('Domingo')"><img src="/assets/img/dom.png"></li>
           <li (click)="selectedDay('Segunda')"><img src="/assets/img/seg.png"></li>
           <li (click)="selectedDay('Terça')"><img src="/assets/img/ter.png"></li>
           <li (click)="selectedDay('Quarta')"><img src="/assets/img/qua.png"></li>
           <li (click)="selectedDay('Quinta')"><img src="/assets/img/qui.png"></li>
           <li (click)="selectedDay('Sexta')"><img src="/assets/img/sex.png"></li>
           <li (click)="selectedDay('Sábado')"><img src="/assets/img/sab.png"></li>
       </ul>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-mini-fab class="sideBtn" mat-button (click)="drawer.toggle()">
        </button>
        <app-display-animes [day]="day"  [animes$]="animes$"></app-display-animes>
    </mat-drawer-content>
</mat-drawer-container>

