/* You can add global styles to this file, and also import other style files */
html {
  background-color: #2b2118;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer {
  padding: 20px;
  background-color: #7a868f;
}

footer {
  text-align: center;
  color: aliceblue;
}

a {
  color: aliceblue;
  text-decoration: none;
}

footer a:hover {
  color: forestgreen;
  cursor: pointer;
}

.mat-dialog-container {
  background: #f6f2d2 !important;
  border: black solid 2px;
  border-radius: 10px;
}
.mat-drawer-inner-container::-webkit-scrollbar,
mat-drawer-content::-webkit-scrollbar,
mat-dialog-content::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}
