/* You can add global styles to this file, and also import other style files */
html {
  background-color: #2d3942;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer {
  padding: 20px;
  background-color: #7a868f;
}

footer {
  text-align: center;
  color: aliceblue;
}

footer a:hover {
  color: forestgreen;
  cursor: pointer;
}

.mat-drawer-inner-container::-webkit-scrollbar,
mat-drawer-content::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}
